<div id="aboutus" class="row whitebox" style="display: none;">
    <div class="row" style="text-align: center">
        <span class="purple-emphasis sloopy-small">About Us</span>
    </div>
    <div class="col-md-4" style="text-align: center; font-size: 130%;">
        <span class="aboutus-header">Welcome to our wedding website,
            and thank you for visiting!</span>

        <p>Vitaly has poured a great deal of work into this website, so
            we are planning to use it to its fullest potential! Feel free to
            read some information about us!
        <p>In exciting news, we are changing RSVP traditions! We have
            decided to embrace Vitaly's tech-savvy self, and are opting for a
            complete on-line RSVP area. Look forward to this in the formal
            invitation!
        <p>Anyway, please enjoy browsing the website; hopefully you find
            some useful maps or information. If you don't find anything
            useful...well, our apologies. Field all complaints to Kendra (at
            your own risk).
        <p>
            <span class="aboutus-header">Thanks for your support, we
                look forward to the party in June!</span>
    </div>
    <div class="col-md-4">
        <img class="img-style" alt="Us at Color Run"
             src="/images/kendra_vitaly_colorrun.jpg">
    </div>
    <div class="col-md-4" style="font-size: 130%">
        <div class="row" style="text-align: center;">
            <span class="aboutus-header">So really. you clicked on this
                part to get the dish on us, right? well, let's give you what you
                want then!</span>
        </div>
        <p>
            <span class="purple-emphasis garamondItalic small-font">We
                met in 2007,</span> when we both worked as sales associates at GFS.
            Kendra decided early on that she was going to date Vitaly one day,
            and she set the wheels in motion to make that happen. Her acts of
            valor included dragging her roommate to KFC to bring Vitaly lunch,
            meeting Vitaly at midnight to get coney island food from a sketchy
            establishment, and saving up dirty laundry so she could stay at
            Vitaly's for hours while completing it (free laundry for a college
            student is a great incentive).
        <p>
            <span class="purple-emphasis garamondItalic small-font">We've
                come a long way </span>since then. Vitaly proposed to Kendra in November
            of 2012. There was music, rose petals, notes, and ugly-sobs of
            celebration (we'll let you guess from whom). It's been an awesome
            journey, and we are grateful to our friends and family for having a
            hand in making the people we are today.
    </div>
</div>