<div class="modal fade" id="ceremonyMap" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title garamond" id="myModalLabel" align="center">map
							of kensington metropark</h4>
					</div>
					<div class="modal-body" align="center">
						<div id="ceremony-map" class="row">
							<img class="img-style" alt="Map to the ceremony"
								src="/images/kensington_park.jpg">
						</div>
						<div class="modal-footer" style="text-align: center;">
							<button type="button" class="btn btn-success"
								data-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</div>