<div id="ceremony" class="row whitebox" style="display: none;">
			<div class="row" style="text-align: center;">
				<span class='purple-emphasis sloopy-small'>The Ceremony</span>
			</div>
			<div class="col-md-6" style="text-align: center;">
				<div class="row>">
					<ul class="details-list">
						<li class="first-item">Come See Us Tie The Knot</li>
						<li><span class="garamond">4:00 p.m.</span></li>
						<li><span class="garamond"><a class="dashed-link"
								href="" data-toggle="modal" data-target="#ceremonyMap">south
									hickory ridge picnic area</a></span></li>
						<li><span class="garamond"><a class="dashed-link"
								href="http://maps.google.com/maps?daddr=Kensington+Metropark,+Milford+Township+MI,+48380"
								target="_blank">kensington metropark</a></span></li>
					</ul>
				</div>
				<div class="row" style="text-align: center; padding-bottom: 5px;">
					<img style="width: 71%;" class="img-style"
						alt="Us in St. Joseph, MI" src="/images/kendra_vitaly_stjoe.jpg">
				</div>
			</div>
			<div class="col-md-6" style="text-align: center;">
				<img style="width: 75%;" class="img-style"
					alt="Us in Central Park, NYC" src="/images/kendra_vitaly_nyc.jpg">
			</div>
		</div>