<div id="hotel" class="row whitebox strong-font"
			style="display: none;">
			<div class="row" style="text-align: center;">
				<span class='purple-emphasis sloopy-small'>The Hotel</span>
			</div>
			<div class="col-md-6" style="text-align: center;">
				We appreciate the fact that many of you will be coming from out of
				town to make our day very special.

				<p>
					So, to make your visit more convenient, we have reserved a block of
					rooms at the <strong><a class="dashed-link"
						href="http://maps.google.com/maps?daddr=Courtyard+Detroit+Brighton+7799+Conference+Center+Dr,+Brighton+MI+48114"
						target="_blank">Courtyard Marriot in Brighton</a></strong>.
				<p>
					Click <strong><a class="dashed-link"
						href="http://cwp.marriott.com/dtwbr/jaynespekerwedding/"
						target="_blank">here</a></strong> to reserve your room or call <strong><a
						class="dashed-link" href="tel:8102259200">(810) 225-9200</a></strong> and
					mention the <strong><span
						class="purple-emphasis garamondItalic">Peker/Jaynes Wedding</span></strong>
					to receive a special rate!
				<p>For your convenience, we are providing a shuttle that will
					take you from the hotel to the ceremony, from the ceremony to the
					reception, and from the reception back to the hotel!
			</div>
			<div class='col-md-6' style="text-align: center;">
				<div class="row">
					<img style="width: 75%;" class="img-style"
						alt="Us In Niagara Falls" src="/images/us_wine.jpg">
				</div>
			</div>
		</div>