<div id="instagram" class="row whitebox"
			style="display: none; text-align: center;">
			<div class="row">
				<span class='purple-emphasis garamond'>#PEKERWEDDING</span>
			</div>
			<div class="row strong-font" style="padding: 15px;">
				Instagrammers unite! We want to see every bit of our special day
				from your point of view! If you are going to be taking pictures with
				your smart phone and posting them on Instagram, include the hashtag
				<span class='purple-emphasis garamondItalic'>#pekerwedding</span>.
				Your pictures will be instantly uploaded to this site, so we can see
				your journey here, your dancing face, or your foot (if you so
				choose). We can't wait to see every part of this event!
			</div>
			<div class="row instagram"></div>
			<div class="row" style="padding: 15px;">
				<button id="moreinsta" class="btn btn-success">Load More</button>
			</div>

		</div>