	<div class="navbar navbar-inverse navbar-fixed-top rsvpNav center"
		role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul id="fixednav" class="nav navbar-nav">
					<li><a data-id='home' href="javascript:void(0)">home</a></li>
					<li><a data-id='#aboutus' href="javascript:void(0)">about
							us</a></li>
					<li><a data-id='#ceremony' href="javascript:void(0)">ceremony</a></li>
					<li><a data-id='#reception' href="javascript:void(0)">reception</a></li>
					<li><a data-id='#weddingparty' href="javascript:void(0)">wedding
							party</a></li>
					<li><a data-id='#hotel' href="javascript:void(0)">hotel</a></li>
					<li><a data-id='#registry' href="javascript:void(0)">registry</a></li>
					<li><a data-id='#instagram' href="javascript:void(0)">#pekerwedding</a></li>
					<li><a data-id="rsvp" href="" data-toggle="modal"
						data-target="#rsvpModal">rsvp</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>