<div id="reception" class="row whitebox"
			style="display: none; text-align: center;">
			<div class="row">
				<div class="row">
					<span class='purple-emphasis sloopy-small'>The Reception</span>
				</div>
				<div class="col-md-6">
					<div class="row">
						<ul class="details-list">
							<li class="first-item">Join Us For Food, Drinks and Dancing</li>
							<li><span class="garamond">6:00 p.m.</span></li>
							<li><span class="garamond">celebrity room</span></li>
							<li><span class="garamond"><a class="dashed-link"
									href="http://maps.google.com/maps?daddr=Crystal+Gardens,+Howell+MI,+48843"
									target="_blank">crystal gardens</a></span></li>
						</ul>
					</div>
					<div class="row" style="text-align: center; padding-bottom: 5px;">
						<img style="width: 71%;" class="img-style"
							alt="Us in St. Igance, MI" src="/images/us_best.jpg">
					</div>
				</div>
				<div class="col-md-6" style="padding-top: 5px;">
					<div class="row">
						<img style="width: 60%;" class="img-style" alt="Us On Bikes"
							src="/images/us_bikes.jpg">
					</div>
					<div class="row" style="padding-top: 10px;">
						<img style="width: 60%;" class="img-style"
							alt="Us at Steven's Wedding"
							src="/images/kendra_vitaly_yakwedding.jpg">
					</div>
				</div>
			</div>
		</div>