		<div id="registry" class="row whitebox strong-font"
			style="display: none;">
			<div class="row" style="text-align: center;">
				<span class='purple-emphasis sloopy-small'>The Registry</span>
			</div>
			<div class="row" style="text-align: center; padding: 5px;">Having
				you at our wedding is something we will cherish and remember
				forever. However, if you would like to give us a gift, we won't stop
				you! We are registered at a few different stores, so to make it
				easier - we have listed them all on the knot. Click on The Knot
				image below to see our gift list!</div>
			<div class="row" style="text-align: center;">
				<a target="_blank" class="theknot"
					href="http://registry.theknot.com/kendra-jaynes-vitaly-peker-june-2014-mi/6271242"><img
					alt="theknot" src="/images/theknot.png"></a>
			</div>
			<div class="row" style="text-align: center; padding-top: 10px;">
				<img class="img-style" style="width: 80%;"
					alt="Day After Engagement" src="/images/engaged.jpg">
			</div>

		</div>