		<div class="modal fade" id="rsvpModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel" align="center">Répondez
							s'il Vous Plaît</h4>
					</div>
					<div class="modal-body" align="center">
						<div class="row">
							<img alt="Under Construction" src="/images/construction.gif">
						</div>
						<div class="row garamondItalic strong-font"
							style="font-size: 22px">Please excuse the dust, this
							section is under construction!</div>
					</div>
					<div class="modal-footer" style="text-align: center;">
						<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->