<div class="modal fade" id="rsvpCodeModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" align="center">Répondez
                    s'il Vous Plaît</h4>
            </div>
            <div class="modal-body" align="center">

                <div class="form-group" align="center">
                    <input type="text" name="rsvpCode"
                           class="form-control input-small" id="rsvpCode"
                           placeholder="RSVP CODE FROM INVITATION"
                           style="text-align: center;">
                </div>
                <div class="form-group" align="center">
                    <button type="reset" class="btn" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="codeSubmitBtn">Submit</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="rsvpModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" align="center">Répondez
                    s'il Vous Plaît</h4>
            </div>
            <div class="modal-body" align="center">
                <input type="hidden" id="guestCode" value="" />
                <input type="hidden" id="response" value="" />
                <input type="hidden" id="plusOne" value="" />
                <input type="hidden" id="bringingKids" value="" />
                <input type="hidden" id="numberOfKids" value="" />
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success">
                            <input type="radio" name="options" id="accept">I Accept
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" name="options" id="decline">I Decline
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div id="plusOneDecision" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info">
                            <input type="radio" name="options" id="yesPlusOne">Bringing a Date
                        </label>
                        <label class="btn btn-info">
                            <input type="radio" name="options" id="noPlusOne">Flying Solo
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div id="partySizeDiv" class="btn-group">
                        <label for="partySize">Total number of people attending: </label>
                        <select id="partySize">
                            <option value="...">...</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div id="guestNameDiv" class="form-group col-lg-12" align="center">
                        <input type="text" name="guestName"
                               class="form-control input-small" id="guestName"
                               placeholder="NAME OF GUEST"
                               style="text-align: center;">
                    </div>
                    <div id="plusOneNameDiv" class="form-group col-lg-6" align="center">
                        <input type="text" name="plusOneName"
                               class="form-control input-small" id="plusOneName"
                               placeholder="NAME OF DATE"
                               style="text-align: center;display: none">
                    </div>
                </div>
                <div class="row">
                    <div id="messageFromGuestDiv" class="form-group">
                        <textarea id="messageFromGuest" class="form-control" rows="3" placeholder="LEAVE US A SPECIAL MESSAGE" style="text-align: center"></textarea>
                    </div>
                </div>
                <div class="form-group" align="center">
                    <button type="reset" class="btn" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="rsvpSubmitBtn">Submit</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="rsvpMessageModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" align="center">Répondez
                    s'il Vous Plaît</h4>
            </div>
            <div class="modal-body" align="center">

                <div class="form-group" align="center">
                    <h4 id="rsvpMessage"></h4>
                </div>
                <div class="form-group" align="center">
                    <button type="reset" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->