<div id="weddingparty" class="row whitebox" style="display: none;">
			<div class="row strong-font" style="text-align: center;">
				We would be nowhere without <span
					class='purple-emphasis sloopy-small'>The Wedding Party</span> Below
				is a collection of our best friends!
			</div>
			<div class="row strong-font garamondItalic"
				style="text-align: center;">Hover over a picture for more
				details.</div>

			<!-- Carousel
    ================================================== -->
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
					<li data-target="#myCarousel" data-slide-to="5"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<ul class="ch-grid">
							<li>
								<div class="ch-item shelby-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a shelby-img"></div>
											<div class="side-b">
												<h3>
													shelby<br>jaynes
												</h3>
												<p>Maid of Honor</p>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item jason-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a jason-img"></div>
											<div class="side-b ">
												<h3>
													jason<br>sydor
												</h3>
												<p>Best Man</p>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="item">
						<ul class="ch-grid">
							<li>
								<div class="ch-item melissa-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a melissa-img"></div>
											<div class="side-b">
												<h3>
													melissa<br>beals
												</h3>
												<p>Matron of Honor</p>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item brandon-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a brandon-img"></div>
											<div class="side-b">
												<h3>
													brandon<br>lynn
												</h3>
												<p>Best Man</p>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="item">
						<ul class="ch-grid">
							<li>
								<div class="ch-item bailey-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a bailey-img"></div>
											<div class="side-b">
												<h3>
													bailey<br>hall
												</h3>
												<p>Bridesmaid</p>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item nate-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a nate-img"></div>
											<div class="side-b">
												<h3>
													nate<br>jackson
												</h3>
												<p>Groomsman</p>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="item">
						<ul class="ch-grid">
							<li>
								<div class="ch-item brittany-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a brittany-img"></div>
											<div class="side-b">
												<h3>
													brittany<br>hernandez
												</h3>
												<p>Bridesmaid</p>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item devon-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a devon-img"></div>
											<div class="side-b">
												<h3>
													devon<br>jaynes
												</h3>
												<p>Groomsman</p>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="item">
						<ul class="ch-grid">
							<li>
								<div class="ch-item lindsay-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a lindsay-img"></div>
											<div class="side-b">
												<h3>
													lindsay<br>welsh
												</h3>
												<p>Bridesmaid</p>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ryan-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a ryan-img"></div>
											<div class="side-b">
												<h3>
													ryan<br>balbaugh
												</h3>
												<p>Groomsman</p>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="item">
						<ul class="ch-grid">
							<li>
								<div class="ch-item andrea-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a andrea-img"></div>
											<div class="side-b">
												<h3>
													andrea<br>sydor
												</h3>
												<p>Bridesmaid</p>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ian-img">
									<div class="ch-info-wrap wrap">
										<div class="ch-info">
											<div class="side-a ian-img"></div>
											<div class="side-b">
												<h3>
													ian<br>beals
												</h3>
												<p>Groomsman</p>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<a class="left carousel-control" data-target="#myCarousel"
					data-slide="prev"><span
					class="glyphicon glyphicon-chevron-left"></span></a> <a
					class="right carousel-control" data-target="#myCarousel"
					data-slide="next"><span
					class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<!-- /.carousel -->
		</div>